services:

  postgres:
    image: postgres:15
    container_name: gamepulse-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gamepulse
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5


  hasura:
    image: hasura/graphql-engine:v2.36.1
    container_name: gamepulse-hasura
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:postgres@postgres:5432/gamepulse
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ADMIN_SECRET: supersecretkey
      HASURA_GRAPHQL_DEV_MODE: "true"


  redis:
    image: redis:7
    container_name: gamepulse-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
